<div class="displayBox">
  <h3>Equipment</h3>
  <ol>
      <li *ngFor="let item of equipmentItems">
          <!-- "Add to Cargo Hold" button goes here. -->
          <span><button [class.active]="!(cargoHold.length === maxItems) && !(item.mass + cargoMass > maximumAllowedMass)" [disabled]="cargoHold.length === maxItems || item.mass + cargoMass > maximumAllowedMass" (click)="addItem(item)">Add to Cargo Hold</button></span>{{item.name}}, {{item.mass}} kg
      </li>
  </ol>
</div>

<hr>

<div class = "displayBox">
  <h3>Cargo Hold: {{cargoHold.length}}/{{maxItems}} Spots Filled</h3>
  <ol>
      <li *ngFor="let equipment of cargoHold">{{equipment.name}}</li>
  </ol>
  <p>Mass in Hold: {{cargoMass}} kg</p>
  <p [class.nearMaxMass]="nearCapacity">Mass Budget Remaining: {{maximumAllowedMass - cargoMass}} kg</p>
  <!-- Add the "Empty Hold" button here. -->
  <button (click)="cargoHold=[]; cargoMass = 0; nearCapacity = false">Empty Hold</button>
</div>